.container {
  margin-top: 10px;
  width: 600px;
  text-align: center;
}

#demo {
  display: inline-block;
  width: 400px;
}

#logo {
  width: 333px;
  height: 250px;
}

iframe {
  width: 140px;
  margin: 0 auto;
  display: block;
}
