#effects {
  float: left;
  width: 100px;
}

.btn-group {
  margin: 10px;
}

.btn {
  width: 100%;
}

#demo {
  float: left;
}

#textParagraph {
  text-align:justify;
  margin: 10px;
  width: 300px;
  background: lightgray;
  padding: 3px;
}
