#effects {
  float: left;
}

#effects .btn-group {
  padding: 10px;
  position: static;
  margin: 0;
}

#effects div span {
  text-align: right;
  padding: 2px;
  font-weight: bold;
  display: inline-block;
  width: 75px;
  font-size: 14px;
}

#demo {
  float: left;
}

#textParagraph {
  text-align:justify;
  margin: 10px;
  width: 300px;
  background: lightgray;
  padding: 3px;
}
